html {
  min-height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Apercu;
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

:root {
  --dim: calc(100vh / 7);
}

body {
  height: 100%;
}

@font-face {
  font-family: 'Apercu';
  src: url('fonts/ApercuMonoPro-Regular-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: inherit;
  height: var(--dim);
}

section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data {
  height: var(--dim);
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem 0 2rem 0; */
}

.data--circle {
  height: var(--dim);
}

/* LEFT */

.data--circle--temp--left {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--precip--left {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--wind--left {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--winddir--left {
  background: radial-gradient(circle, rgb(216, 255, 201) 0%, rgba(255, 255, 255, 0) 50%);
}

.data--circle--cloud--left {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--uv--left {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

/* RIGHT */

.data--circle--temp--right {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--precip--right {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--wind--right {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--winddir--right {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--cloud--right {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--circle--uv--right {
  background: radial-gradient(circle, rgb(255, 174, 0) 0%, rgba(255, 255, 255, 0) 80%);
}

.data--title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  html {
    font-size: 1rem;
  }
}
